<div class="modal fade" id="modalDia{{ day.day|date:'Ymd' }}" tabindex="-1" aria-labelledby="modalDiaLabel{{ day.day|date:'Ymd' }}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalDiaLabel{{ day.day|date:'Ymd' }}">Tarefas de {{ day.day|date:'d/m/Y' }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% if day.pendentes or day.concluidas or day.adiadas %}
          <ul class="list-group">
            {% for t in day.pendentes %}
              <li class="list-group-item list-group-item-action" style="color: orange; cursor:pointer;" data-bs-toggle="modal" data-bs-target="#modal{{ t.id }}" data-bs-dismiss="modal">
                🕒 {{ t.titulo }}
              </li>
            {% endfor %}
            {% for t in day.concluidas %}
              <li class="list-group-item list-group-item-action" style="color: green; cursor:pointer;" data-bs-toggle="modal" data-bs-target="#modal{{ t.id }}" data-bs-dismiss="modal">
                ✔️ {{ t.titulo }}
              </li>
            {% endfor %}
            {% for t in day.adiadas %}
              <li class="list-group-item list-group-item-action" style="color: red; cursor:pointer;" data-bs-toggle="modal" data-bs-target="#modal{{ t.id }}" data-bs-dismiss="modal">
                📌 {{ t.titulo }}
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <p><em>Nenhuma tarefa neste dia.</em></p>
        {% endif %}
      </div>
    </div>
  </div>
</div>