{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Tarefas Adiadas" %}{% endblock %}

{% block content %}

{# Filtro por Categoria #}
<form method="get" class="mb-4">
  <label for="categoria">{% trans "Filtrar por categoria:" %}</label>
  <select name="categoria" id="categoria" class="form-select w-auto d-inline" onchange="this.form.submit()">
    <option value="">{% trans "Todas as Categorias" %}</option>
    {% for categoria in categorias %}
      <option value="{{ categoria.id }}" {% if categoria.id|stringformat:"s" == categoria_selecionada %}selected{% endif %}>
        {{ categoria.nome }}
      </option>
    {% endfor %}
  </select>
</form>  

  <div class="h-100 p-5 bg-light border rounded-3">
    <h1>{% trans "Tarefas Adiadas" %}</h1>

    <div class="list-group">
      {% for tarefa in tarefas_adiadas %}
        {# Linha da lista #}
        {% include "tarefas/partials/item_tarefa_adiada.html" %}
        {# Modal de detalhes #}
        {% include "tarefas/partials/modal_tarefa.html" %}
      {% empty %}
        <h3>{% trans "Nenhuma tarefa foi adiada" %}</h3>
      {% endfor %}
    </div>
  </div>
{% endblock %}
